.gameboard-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.rules-container {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #547980;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: #fff;
}

.rules-container .title {
  font-size: 4rem;
  font-weight: 700;
}

.rules-container .subtitle {
  font-size: 2.5rem;
  font-weight: 500;
}

.rules-container ul {
  list-style: none;
  font-size: 2rem;
  width: 70%;
}

.rules-container ul li {
  padding: 1rem;
}

.warning {
  color: #eed202;
  font-size: 1.5rem;
}

.link {
  color: #0b0080;
  text-decoration: none;
}

.player-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  background: #594f4f;
  width: 40%;
}

.current-player {
  background: #4f5959;
}

.current-icon {
  color: #fe4365;
  font-size: 2rem;
}

.winner-player {
  background: #63f1ce;
}

.gamesettings-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  background: #547980;
  width: 20%;
}

.intro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro-container p {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  width: 80%;
}

.btn {
  user-select: none;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #000;
  text-decoration: none;
  padding: 1rem;
  cursor: pointer;
  background: #45ada8;
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  transition: all 0.08s ease-in-out;
}

.btn:hover {
  background: #327c79;
}

.btn:active {
  position: relative;
  top: 1px;
}

.btn .icon {
  margin-right: 1rem;
}

.dice {
  height: 200px;
  width: 200px;
}

.dice-1 {
  background: url("../imgs/dice-1.png") center center / cover no-repeat;
}

.dice-2 {
  background: url("../imgs/dice-2.png") center center / cover no-repeat;
}

.dice-3 {
  background: url("../imgs/dice-3.png") center center / cover no-repeat;
}

.dice-4 {
  background: url("../imgs/dice-4.png") center center / cover no-repeat;
}

.dice-5 {
  background: url("../imgs/dice-5.png") center center / cover no-repeat;
}

.dice-6 {
  background: url("../imgs/dice-6.png") center center / cover no-repeat;
}

.box {
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
}

.box-title {
  height: 30%;
  width: 60%;
  background: #fff;
  font-size: 3rem;
}

.box-current {
  height: 15%;
  width: 40%;
  background: #fe4365;
  font-size: 2rem;
}

input {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 1rem;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
